<!DOCTYPE html>
<html>
    <head>
       <title>error:404</title>
       <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/stylesheet.css">
    </head>
        <body>
          <div class="main-content">
               {{>header}}
               <p>{{message}}</p>
           </div>
          
          {{>footer}}
        </body>
   
</html>